body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.or{
    color: darkorchid;
}
.flex-bannar{
    display: flex;
    margin-bottom: 150px;
}
.helf-weidth{
    width: 50%;
    padding-left: 5%;}

.helf-weidth img{
    width: 76%;
}
.cbutton{
padding: 10px 40px;
background-image: linear-gradient(orange, tomato);
color: white;
font-weight: 800;
border: none;
border-radius: 5px;
text-decoration: none;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  
}
.las{
    display: flex;
    margin-bottom: 150px;

}
.box{
    box-shadow: lef;
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    border-radius: 10px;
    border-left: rgb(76, 67, 155) solid 10px ;
    
}
.backround{
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position: left;
}
#web{

border-image: linear-gradient(blue tomato);
border-image-slice: 1;
border-left:  7px solid;

}

.pl{
    text-align: center;
    color: greenyellow;
}